HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Ignore Docker build artifacts
**/target/
**/out/

# Ignore Docker volumes
**/volumes/

# Ignore log files
*.log

# Ignore temporary files
*.tmp
*.bak
*.swp

# Ignore environment files
.env

mvnw
mvnw.cmd